<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Contact Form</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="icon" href="/img/icon-page.png">
</head>

<body>
  <div class="form-geral">
    <div>
      <div>
        <div id="box-error">
          <% for     
          (let i=0; i < errors.length; i++) { %>
          <div id="error-message">
            <img src="/img/error.png" alt="error icon" id="error-icon">
            <p>
              <%=errors[i]; %>
            </p>
          </div>
          <% } %>
        </div>
        <div class="caixa-success">
          <%if(errors.length==0 && success){%>
          <div id="success-message">
            <img src="/img/success.png" alt="success icon" id="success-icon">
            <p>Message sent successfully, thanks for contacting us</p>
          </div>
          <% } %>
        </div>
      </div>
      <form action="/" method="post">
        <div>
          <label for="field-name">
            <img src="/img/icon.png" alt="profile icon" />
          </label>
          <input id="field-name" type="text" name="field-name" placeholder=" Name" value="<%= values.name %>"
            <%if(errors.includes("field-name")){%> class="alert" <%}%> />
        </div>
        <div>
          <label for="field-email">
            <img src="/img/email.png" alt="email icon" />
          </label>
          <input type="email" id="field-email" name="field-email" placeholder="  Email" value="<%= values.email %>"
            <%if(errors.includes("field-email")){%> class="alert" <%}%> />
        </div>

        <label for="field message">
          <img src="/img/message.png" alt="message icon" />
        </label>

        <textarea name="field-message" id="field-message" placeholder=" Message" cols="39" rows="5"
          <%if(errors.includes("field-message")){%> class="alert" <%}%>/>
<%= values.message %></textarea>
          <div>
            <button class="botton-submit">Send</button>
          </div>
      </form>
    </div>
  </div>
</body>

</html>